.header {
  padding: 26px 0;
  background: #ffffff;
  border-width: 1px 0px;
  border-style: solid;
  border-color: rgba(51, 51, 51, 0.1);
}
.feedback {
  display: flex;
  justify-content: end;
  align-items: center;
}
.header-content {
  display: flex;
  align-items: center;
}
.header-p {
  font-weight: 400;
  font-size: 14px;
  color: #212121;
  opacity: 0.7;
  text-align: center;
}
.phone {
  padding-right: 40px;
}
.phone a {
  font-weight: 600;
  font-size: 16px;
  color: #212121;
  opacity: 0.7;
  text-decoration: none;
}
.call button {
  padding: 16px 28px;
  width: 222px;
  height: 52px;
  border: 1px solid #ff5900;
  border-radius: 100px;
  font-weight: 500;
  font-size: 16px;
  text-align: center;
  color: #ff5900;
  display: flex;
  align-items: center;
}
.call span {
  padding-right: 5px;
}

/* navbar */

.collapse .navbar-nav {
  width: 100%;
  justify-content: space-between;
  align-items: center;
}

.nav-link {
  font-weight: 500;
  font-size: 14px;
  /* identical to box height, or 17px */
  text-transform: uppercase;
  color: #212121;
}
.nav-link:hover {
  text-transform: uppercase;
  color: #212121;
}
